rggo/firstProgram/wc/wc*
rggo/interacting/todo/cmd/todo/.todo.json
rggo/workingFiles/mdp/README.md
rggo/workingFiles/mdp/README.md.html
rggo/performance/colStats/testdata/benchmark
rggo/performance/colStats/colStats
rggo/performance/colStats/benchresults00.txt
rggo/performance/colStats/benchresults00m.txt
rggo/performance/colStats/benchresults01m.txt
Gerardi R. - Powerful Command-Line Applications in Go - 2021.pdf
rggo/performance/colStats/benchresults02m.txt
